.jumbotron
  h1
    i.icon-beer.icon-2x
    | 
    i.icon-btc
    | runch with Beer

  p.lead.
    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce 
    dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
    fermentum massa justo sit amet risus.
  
  p
    a#btn-home-signup.btn.btn-lg.btn-success(href="#") Sign up today

  //- Signup form, not visible by default
  form#form-home-signup.form-inline.masked(role="form")
    .form-group
      label.sr-only(for="email") Email address
      input#email.form-control(type="email", 
        placeholder="Enter email")

    .form-group
      label.sr-only(for="password") Password
      input#password.form-control(type="password", 
        placeholder="Password")

    .form-group
      label.sr-only(for="password-conf") Password
      input#password-conf.form-control(type="password", 
        placeholder="Password")

    button.btn.btn-default(type="submit") Sign up

form#form-home-signup(role="form")
  .input-group.col-sm-4
    i.icon-envelope.input-group-addon
    label.sr-only(for="email") Email address
    input#email.form-control(type="text",placeholder="Enter email")

  .input-group.col-sm-4
    i.icon-key.input-group-addon
    label.sr-only(for="password") Password
    input#password.form-control(type="password",placeholder="Password")

  .input-group.col-lg-4
    i.icon-key.input-group-addon
    label.sr-only(for="password-conf") Password
    input#password-conf.form-control(type="password",placeholder="Password")

  p
    button.btn.btn-default(type="submit") Sign up

    //- form
    //-   .row
    //-     .col-lg-6
    //-       .input-group
    //-         span.input-group-btn
    //-           button.btn.btn-default(type="button") Go!
    //-         input.form-control(type="text")

    //-   .row
    //-     .col-lg-6
    //-       .input-group.input-group-sm
    //-         span.input-group-addon @
    //-         input.form-control(type="text", placeholder="Username")

   
    //-   .input-group 
    //-     span.input-group-addon
    //-       i.icon-envelope
    //-     input.form-control(type="text", placeholder="Email address")
      
    //-   .input-prepend
    //-     span.add-on
    //-       i.icon-key
    //-     input.span2(type="password", placeholder="Password")
  

.row.marketing
  .col-lg-6
    h4 Subheading
    p.
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus 
      mollis interdum.

    h4 Subheading
    p.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras 
      mattis consectetur purus sit amet fermentum.

    h4 Subheading
    p Maecenas sed diam eget risus varius blandit sit amet non magna.
  
  .col-lg-6
    h4 Subheading
    p.
      Donec id elit non mi porta gravida at eget metus. Maecenas faucibus 
      mollis interdum.

    h4 Subheading
    p.
      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras 
      mattis consectetur purus sit amet fermentum.

    h4 Subheading
    p Maecenas sed diam eget risus varius blandit sit amet non magna.